.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // flex: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.workspace {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.toolbar {
  height: 50px;

  display: flex;
  align-items: stretch;
  justify-content: space-around;

  & > * {
    margin: 4px;
  }

  & > button {
    display: flex;
    touch-action: manipulation;
  }
}

.rowIndexDisplay {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.minimapContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 150px;
  margin: 12px;
}

.minimap {
  width: 100%;
  height: 100%;
}
