.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.topSection {
  display: flex;
  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;
}

.flipButton {
  padding: 10px;
}


.workspaceContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
}

.rowIncrementButton {
  padding: 4px;
  margin: 10px;
}

.workspace {
  display: flex;
  align-self: stretch;
  flex-flow: column nowrap;
  justify-content: center;
}

.toolbar {
  height: 180px;
  margin: 20px 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: column nowrap;

  & > * {
    margin: 4px;
    font-size: 18px;
  }

  & > button {
    display: flex;
    touch-action: manipulation;
  }

  .back {
    margin-right: 20px;
  }

  .next {
    flex: 1;
    background: var(--primary-action-background);
    color: var(--primary-action-title-color);
    -webkit-tap-highlight-color: hsla(0, 0%, 100%, 0);

    &:active {
      background-color: var(--primary-action-active-highlight);
    }
  }

  & .auxiliary {
    & button {
      padding: 8px;
    }
  }
}

.minimapContainer {
  margin: 12px;
  display: flex;
  flex-flow: row nowrap;
}

.minimapMain {
  display: flex;
  flex-flow: column nowrap;
}

.minimap {
  width: 150px;
  height: 150px;
}

.flipContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.directionIndicator {
  text-align: center;
  font-style: italic;
  color: var(--secondary-text-color);
  
  &.vertical {
    &[data-direction="ascending"]::after {
      font-style: normal;
      content: " ⬇️";
    }
    &[data-direction="descending"]::after {
      font-style: normal;
      content: " ⬆️";
    }
  }

  & em {
    font-weight: bold;
  }
}

.dimensionsInfo {
  margin: 2px;
  text-align: center;
  color: var(--secondary-text-color);
}

.filePicker {
  background: hsla(0, 0%, 50%, 0.1);
  padding: 2px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: hsla(0, 0%, 50%, 0.2);
  }
}
