.container {
  display: flex;
  flex-flow: row nowrap;

  position: relative;
}

.stitch {
  // position: absolute;
  border: 1px solid white;
}

.columnIndex {
  font-size: 13px;

  // &.absolute {
  //   left: 0;
  //   top: -13px;
  // }

  // &.relative {
  //   right: 0;
  //   bottom: 0;
  // }
}
