.toolbar {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: column nowrap;

  & > * {
    margin: 4px;
    font-size: 18px;
  }

  .back {
    margin-right: 10px;
  }

  .primaryAction {
    flex-grow: 1;
    background: var(--primary-action-background);
    color: var(--primary-action-title-color);
    -webkit-tap-highlight-color: hsla(0, 0%, 100%, 0);

    &:active {
      background-color: var(--primary-action-active-highlight);
    }
  }

  & .auxiliary {
    & button {
      padding: 8px;
    }
  }
}

.toolbarRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.mainRow {
  flex: 1;

  & .jumpButton {
    font-size: 16px;
    padding: 20px;
  }
}

.jumpButton {
    padding: 10px;
    touch-action: manipulation;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-size: 14px;

    & > * {
      margin: 2px;
    }

    & .colorPreview {
      margin: 0 8px;
    }
}

.redo {
  background-color: #ccc;
  color: black;
}

.colorPreview {
  flex-shrink: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  transform: translateY(2px);
  margin: 0 1px;
}
