.toolbar {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: column nowrap;

  & > * {
    margin: 4px;
    font-size: 18px;
  }

  .back {
    margin-right: 10px;
  }

  .primaryAction {
    font-size: 18px;
    padding: 20px;

    flex-grow: 1;
    background: var(--primary-action-background);
    color: var(--primary-action-title-color);
    -webkit-tap-highlight-color: hsla(0, 0%, 100%, 0);

    &:active {
      background-color: var(--primary-action-active-highlight);
    }

    .primaryActionTitles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > * {
        margin: 4px 0;
      }
    }
  }

  & .auxiliary {
    & button {
      padding: 8px;
    }
  }
}

.bookmarkButtons {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > * {
    margin: 4px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.toolbarRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.mainRow {
  flex: 1;

  & > * {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.jumpButton {
    padding: 10px;
    touch-action: manipulation;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-size: 14px;

    & > * {
      margin: 2px;
    }

    & .colorPreview {
      margin: 0 8px;
    }
}

.redo {
  background-color: #ccc;
  color: black;
}

.colorPreview {
  flex-shrink: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 50%;
  transform: translateY(4px);
  margin: 0 1px;

  box-sizing: border-box;
}

.incrementButton {
  padding: 0 8px;
}
