.scrollContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
}

.scrollContent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.row {
  height: 80px;
}

.rowContainer {
  display: flex;
  flex-flow: row nowrap;
}

.stitch {
  // position: absolute;
  border: 1px solid white;
}

.columnIndex {
  font-size: 13px;
}
